@font-face {
  font-family: Blackout;
  src: url(../fonts/blackout_midnight-webfont.woff);
}

* {
  margin: 0;
  padding: 0;  
}

html,
body,
section{
  height: 100%;
}

body{
  background: -webkit-linear-gradient(rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
  background: -o-linear-gradient(rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
  background: linear-gradient(rgba(30,87,153,1) 0%, rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 );
  background-attachment: fixed;
}
#projetos {
  min-height: 100%;
  display: none; 
}

#contactMe {    
  background: #767B83;
  background: -webkit-linear-gradient(#45484d 0%, #000000 100%);
  background: -o-linear-gradient(#45484d 0%, #000000 100%);
  background: linear-gradient(#45484d 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#767B83', endColorstr='#000000',GradientType=0 );
  
}
.foto-perfil {  
  float: left;  
}
.foto-perfil img{
  width: 60%;
  margin: 30% 10% 0;
  clip-path: circle(150px at center);    
}
.icon{
  margin: 4em 1em 0;
  float: left;
}
.icon{
  display: block;
  min-width: 50%;
}
.hint{
  display: flex;
  margin-top: 34%;
}
.hint a{
  flex-grow: 1;
  text-align: center;  
  font-size: 3em;
  color: #ddd;
}
.hint a:hover {
  animation: Scale .5s ease-in-out;
  color: #fd5159;
}
@keyframes Scale {
  from {    
    transform: scale3d(1, 1, 1);
  }
  to {    
    transform: scale3d(1.5, 1.5, 1.5); 
  }
}


a:hover {
 -webkit-transition: all .4s;
  transition: all .4s;
}

a {  
  -webkit-transition: all .4s;
  transition: all .4s;
  text-decoration: none;
}
.canvasOpacity{
  transition: opacity .1s;
  opacity: .1;
}

.animatedTxt{opacity: .1;
  animation: fadeAndScale .1s ease-in;
}

@keyframes fadeAndScale {
  from {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  to {
    opacity: 0;
    transform: scale3d(.5, .5, .5); 
  }
}

.cbp-af-header.cbp-af-header-shrink .active{
  color: #fd5159;
}

@media screen and (max-width: 640px) {
  html, body{
    height: auto;
    font-size: 16px;
  }
  .cbp-af-header nav {
  /*  float: none;  
    width: 100%;*/
    display: none;
  }

  /*.cbp-af-header nav a {
    line-height: 60px;
    color: #ddd;    
    margin: 0;
    font-size: 1em;
    padding: 0;
    flex-grow: 1;
    text-align: center;
  }*/
	.main-title{
    font-size: 2em;         
  }
  .main-title span{
    padding: 2% 4%;
  }

  #contactMe{
    height: 4em;
  }

  .icon {
    width: 100%;
    height: auto;
    margin: 0;     
  }   

  .hint {    
   display: flex;
  }

  .hint a{
    margin-top: .5em;
    font-size: 2em;
    flex-grow: 1;
    color: #ddd;    
  } 
  .hint a:first-child{
    border: none;
  } 

  .hint a:active{
    animation: Scale .1s ease-in-out;   
  }

  @keyframes Scale {
  from {    
    transform: scale3d(1, 1, 1);
  }
  to {    
    transform: scale3d(1.5, 1.5, 1.5); 
  }
}

  .hint a:visited{
    color: #ddd;
  }

  .cbp-af-header-shrink {
    display: none;
  }
  
  #socialTop {
    right: 0;
    left: 0;
    text-align: center;
  }      
}